/* BASE CSS STYLE FOR ALL FXML FILES */
/* COLOR VARIABLES */
* {
    -fx-off-white: #f8e9e5;
    -fx-soft-red: #e76d8a;
    -fx-pink: #F5A1A1;
    -fx-orange: #FFD6B7;
    -fx-dark-blue: #253657;
    -fx-light-pink: #F1B8C0;
    -fx-dark-purple: #693c5b;
}

/* FONTS */
/* POPPINS */
.poppins-regular {
    -fx-font-family: "Poppins";
}

.poppins-medium {
    -fx-font-family: "Poppins Medium";
}

.poppins-semibold {
    -fx-font-family: "Poppins SemiBold";
}

.poppins-bold {
    -fx-font-family: "Poppins";
    -fx-font-weight: 700;
}

.poppins-black {
    -fx-font-family: "Poppins Black";
}

/* PLAYFAIR DISPLAY */
.playfair-regular {
    -fx-font-family: "Playfair Display";
}

.playfair-bold {
    -fx-font-family: "Playfair Display";
    -fx-font-weight: 700;
}

.playfair-black {
    -fx-font-family: "Playfair Display Black";
}

/* BUTTON STYLING */
.button-pink-with-border {
    -fx-text-fill: -fx-off-white;
    -fx-background-color: -fx-soft-red;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-off-white;

    transition: 0.2s ease;
}

.button-pink-with-border:hover {
    -fx-outline: none;
    -fx-cursor: hand;

    -fx-text-fill: -fx-soft-red;
    -fx-background-color: -fx-off-white;

    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-pink {
    -fx-text-fill: -fx-off-white;
    -fx-background-color: -fx-soft-red;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    transition: 0.2s ease;
}

.button-pink:hover {
    -fx-cursor: hand;

    -fx-text-fill: -fx-soft-red;
    -fx-background-color: -fx-off-white;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-soft-red;
}

.button-white-with-border {
    -fx-text-fill: -fx-soft-red;
    -fx-background-color: -fx-off-white;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-soft-red;

    transition: 0.2s ease;
}

.button-white-with-border:hover {
    -fx-outline: none;
    -fx-cursor: hand;

    -fx-text-fill: -fx-off-white;
    -fx-background-color: -fx-soft-red;

    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button-white {
    -fx-text-fill: -fx-soft-red;
    -fx-background-color: -fx-off-white;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    transition: 0.2s ease;
}

.button-white:hover {
    -fx-outline: none;
    -fx-cursor: hand;

    -fx-text-fill: -fx-off-white;
    -fx-background-color: -fx-soft-red;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-off-white;
}

.invisible-button {
    -fx-background-color: transparent;
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 0 0 0 60;
    -fx-font-size: 16px;
}

.invisible-button:disabled {
    -fx-opacity: 1.0;
}

/* LOGIN PAGE TEXT FIELDS */
.login-field-container {
    -fx-background-color: -fx-off-white;
    -fx-border-color: -fx-soft-red;

    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-alignment: center-left;
    -fx-background-insets: 0;
}

.login-field-input {
    -fx-font-family: "Poppins";
    -fx-text-fill: -fx-dark-blue;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-highlight-fill: -fx-soft-red;
    -fx-highlight-text-fill: -fx-off-white;
}

.login-password-input {
    -fx-text-fill: -fx-dark-blue;

    -fx-background-color: transparent;
    -fx-border-color: transparent;

    -fx-highlight-fill: -fx-soft-red;
    -fx-highlight-text-fill: -fx-off-white;
}

.text-underline:hover {
    -fx-cursor: hand;
    -fx-underline: true;
}

/* MAIN INVENTORY PAGE STYLING */
.sidebar-item {
    transition: 0.2s ease;
}

.sidebar-item:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.75;
}

/* SETTINGS STYLING */
.account-details-field {
    -fx-background-color: -fx-off-white;
    -fx-border-color: -fx-dark-purple;

    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-alignment: center-left;
    -fx-background-insets: 0;

    -fx-highlight-fill: -fx-dark-purple;
    -fx-highlight-text-fill: -fx-off-white;
}

.account-deletion-field {
    -fx-text-fill: -fx-dark-blue;

    -fx-background-color: -fx-off-white;
    -fx-border-color: -fx-soft-red;

    -fx-border-width: 1;
    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-alignment: center-left;
    -fx-background-insets: 0;

    -fx-highlight-fill: -fx-soft-red;
    -fx-highlight-text-fill: -fx-off-white;
}

.button-dark-purple {
    -fx-text-fill: -fx-off-white;
    -fx-background-color: -fx-dark-purple;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    transition: 0.2s ease;
}

.button-dark-purple:hover {
    -fx-cursor: hand;

    -fx-text-fill: -fx-dark-purple;
    -fx-background-color: -fx-off-white;

    -fx-border-radius: 10;
    -fx-background-radius: 10;

    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: -fx-dark-purple;
}